@font-face {
  font-family: "Hammersmith One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/hammersmithOne-regular.woff2") format("woff2"),
    url("../fonts/hammersmithOne-regular.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/playfairDisplay-regular.woff2") format("woff2"),
    url("../fonts/playfairDisplay-regular.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/playfairDisplay-bold.woff2") format("woff2"),
    url("../fonts/playfairDisplay-bold.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/playfairDisplay-black.woff2") format("woff2"),
    url("../fonts/playfairDisplay-black.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/roboto-thin.woff2") format("woff2"),
    url("../fonts/roboto-thin.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/roboto-light.woff2") format("woff2"),
    url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/roboto-black.woff2") format("woff2"),
    url("../fonts/roboto-black.woff") format("woff");
}
