// Чёрный и белый
$white-color: #ffffff;
$black-color: #000000;

// Основные цвета
$basic-color-1: #00e0d0;
$basic-color-2: #adfffa;
$basic-color-3: #413d4b;
$basic-color-4: #2f2d35;
$basic-color-5: #333333;

// Цвет текста
$text-light: $white-color;
$text-dark: $basic-color-3;
