@import "_variables.scss";
@import "_fonts.scss";
@import "../libs/bootstrap-5.0.0-alpha2/bootstrap.scss";
@import "_mixin.scss";
@import "_scaffolding.scss";
@import "_sprite.scss";
@import "blocks/header.scss";
@import "blocks/home.scss";
@import "blocks/about.scss";
@import "blocks/video.scss";
@import "blocks/expertise.scss";
@import "blocks/team.scss";
@import "blocks/works.scss";
@import "blocks/people-say.scss";
@import "blocks/contact.scss";
@import "blocks/footer.scss";
@import "blocks/modal.scss";
